<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/pageTemplate}">

    <head>
        <title>Access Denied</title>
    </head>

    <body>
        <div layout:fragment="content">
            <div style="width:80%; margin-top:20px;" class="d-inline-flex flex-column align-items-center">
                <h3 class="d-inline-flex flex-row">Oops! Access Denied!</h3>
            </div>
        </div>
    </body>

</html>