<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/pageTemplate}">

    <head>
        <title>Home</title>
    </head>

    <body>
        <div layout:fragment="content">
            <div style="width:80%; margin-top:20px;" class="d-inline-flex flex-column align-items-center">
                <h3 class="d-inline-flex flex-row" th:text="${'Welcome ' + usersName + '!'}" style="margin-top:20px;"></h3>
                
                <div class="col">
                <div class="d-inline-flex flex-row align-items-center"  style="display:block;margin-top:25px;overflow: clip;width:100%;white-space:nowrap;">
                    <i class="fas fa-dollar-sign" style="font-size: 90px;padding-right: 30px;opacity:0.05;"></i>
                    <h5 style="opacity:0.05;font-size:85px;">Global Industrial Corporation</h5>
                </div>
                </div>
            </div>
        </div>
    </body>

</html>