<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/appTemplate}">

    <head>
        <title layout:fragment="title">Manage Customers</title>
    </head>

    <body>
        <div layout:fragment="content">
            <div style="width:80%" class="d-inline-flex flex-column align-items-center">
                <h3 class="d-inline-flex flex-row" style="margin-top:10px;">Manage Customers</h3>
                <div class="row align-items-center" style="width: 100%; margin-top:5px; margin-bottom: 5px;">
                    <div class="col text-start align-self-center">
                        <!--<button class="btn btn-primary border-dark" type="button" style="background: rgb(210,209,209);color: rgb(33,37,41); font-size:14px;">New Customer</button>-->
                        <a class="btn btn-primary border-dark"
                            style="background: rgb(210,209,209);color: rgb(33,37,41); font-size:14px;"
                            th:href="@{/customers/newCustomer}">New Customer</a>
                    </div>
                    <div class="col text-end">
                        <input class="align-self-end" style="font-size:14px;" type="search"
                            placeholder="Search Customers" />
                    </div>
                </div>
                <div class="table-responsive text-center"
                    style="width: 80%;margin-top: 15px;height: 400px;background: rgb(210,209,209);">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Customer Number</th>
                                <th>Customer Name</th>
                                <th>Contact Name</th>
                            </tr>
                        </thead>
                        <tbody style="overflow: scroll;">
                            <tr th:if="${customers.empty}">
                                <td colspan="4">No Customers</td>
                            </tr>
                            <tr th:each="customer : ${customers}">
                                <td>
                                    <form action="#" th:action="@{/customers/editCustomer}" th:object="${customer}"
                                        method="post">
                                        <input hidden th:value="*{customerId}" name="customerId" />
                                        <p><input type="submit" value="Edit" /></p>
                                    </form>
                                </td>
                                <td><span th:text="${customer.customerId}"> Customer Number </span></td>
                                <td><span th:text="${customer.name}"> Customer Name </span></td>
                                <td><span th:text="${customer.contactName}"> Contact Name </span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>

</html>